* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* kartu utama */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* profil */
.profile-container {
  width: 300px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: 0.5s;
}

.profile-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('img/prau.jpg') no-repeat center/cover;
  z-index: -1;
  opacity: 1;
  transition: 0.5s;
}

.profile-container:hover::before {
  opacity: 0;
}

/* transisi */
.profile-wrapper::before,
.profile-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #2371ae 0%, #bb47d4 100%);
  transform: skew(30deg) translateX(125%);
  opacity: 0.9;
  transition: all 0.6s ease;
}

.profile-wrapper::after {
  transform: skew(30deg) translateX(-125%);
}

.profile-container:hover .profile-wrapper::before {
  transform: skew(30deg) translateX(-125%);
}
.profile-container:hover .profile-wrapper::after {
  transform: skew(30deg) translateX(125%);
}

/* isi kartu */
.profile-card {
  padding: 1rem 10px;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.profile-container:hover .profile-card {
  opacity: 1;
  transition-delay: 0.3s;
}

/* foto */
.profile-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 1rem auto;
  object-fit: cover;
  border: 3px solid transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #bb47d4, #2371ae);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

/* paragraf */
.profile-card h2 {
  color: #222;
}
.profile-card h4 {
  color: #555;
}
.profile-card p {
  color: #333;
  margin: 10px 0;
  font-size: 0.9rem;
}

/* sosmed */
.icons {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.icons a {
  color: #333;
  font-size: 1.4rem;
  transition: 0.3s;
}

.icons a:hover {
  transform: scale(1.2);
  background-image: linear-gradient(to right, #bb47d4, #2371ae);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}